<a href="#">back to my boards</a>

<h1 class="turnblue"><%= board.escape('title') %> <button class="deleteBoard">X</button> </h1>

<div class="addListContainer">
	<input class= 'add-list' type="text" name="list[title]">
	<button class="addList">Add List</button>
</div>

<h4 id="lists">
</h4>
