/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";

.list_title {
	font-size: 3em;
}

.whitetext {
	color: white;
}

.boardItem {
	float: left;
	background-color: rgba(41, 128, 185,1.0);
	width: 300px;
	color: white;
	padding: 1%;
	padding-bottom: 50px;
	margin: 1%;
	text-align: center;
	vertical-align: middle;
}

.deleteBoard {
	text-align: right;
	vertical-align: top;
}