<div class="list-container">
	<button class="deleteList">X</button>
	<h3 class="list_title"> <%= list.escape('title') %> </h3>

	<ul class="cards">

	</ul>

	<input class="add-card turnblue" name="card[title]" type="text">
	<button class="addCard turnblue"> Add Card </button>
<div>