<li class="list_title"> <%= list.escape('title') %> </li>
<button class="deleteList">Delete List</button>
<ul class="cards">

</ul>
<input class="add-card" name="card[title]" type="text">
<button class="addCard"> Add Card </button>